<meta charset="UTF-8" />
<style>
table, tbody, th, td {
	border: 1px solid;
	border-collapse: collapse;
	padding: 1px;
	font-size: 20px;	
}
body {
	font-size: 16px;	
	font-family: sans-serif;
}
</style>

<body>
<img src="{{path}}/data/shack_logo.svg" width="300" style="float:right">
<h1> <br>Belegung:<br>Hauptunterverteiler links</h1>

<br><br>

<table width="100%">
<tr><th>Sicherung<br>Nummer</th><th>Netzsch&uumltz<br>geschaltet</th><th>Raum/Ort</th><th>Bezeichnung</th></tr>
{{#each huv_left}}<tr>
	<td>{{nr}}</td>
	<td>{{#if switched}}X{{/if}}</td>
	<td>{{room}}</td>
	<td>{{name}}</td>
</tr>{{/each}}</table>
</body>
